/*.TableContainer{
    position: absolute;
    margin-left: 200px;
    padding-left: 20px;
}

.TableRow{
    padding-left: 20px;
}*/

.container{
    width: 80vw;
    margin-left: 18vw;
}

