/*
.container{
    width: 80vw;
    margin-left: 35%;

}

.btn{
    color: blueviolet;
}
.form-label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position:absolute;
    font-size: large;

}
.form-control{
    margin-left: 200px;
    text-align: center;
    font-size: large;

}
.form-button{
    position: relative;
    margin-left: 10%;

}
.text-center{
    margin-left: 10%;
    margin-bottom: 1%;
}
body{
    background-color: rgb(233, 245, 255);
}*/
